
body {
    background-image: url(".\\..\\image\\bmw.jpg");
    background-color: #cccccc;
    }


.content {
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    font-family: Calibri;
}

p {
    font-size: 25px;
    color: black;
}
