/* 
Changes Friday 4th of May: 
- removed double styling tags :
    li a:hover  was twice reffered
- removed other unnecessary code

Important highlights:
    display: block          on the nav allows for the full screen width of the navigation bar !
    display: inline-block   of the li allows for the displaying side by side of the elements
*/

ul {
    list-style-type: none;
    }
    

    
    /* Change the link color on hover */
    li a.active {
    background-color: rgb(46, 189, 27);
    color: white;
    }
    



  nav {
        background-color: rgb(0, 0, 0);
        padding: 14px 16px;
    }
    
    li {
        display:inline-block;/*allow the list items to stay side by side*/
    }
    
    li a {
      
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color:black;
    }
    
    body {
        background-color: rgb(255, 255, 255);
    }
    
    .language{
        float:right;
        background-color: rgb(0, 0, 0);
    }