/* 
Changes Friday 4th of May: 
- removed double styling tags :
    li a:hover  was twice reffered
- removed other unnecessary code

Important highlights:
    display: block          on the nav allows for the full screen width of the navigation bar !
    display: inline-block   of the li allows for the displaying side by side of the elements
*/
body {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(0, 0, 0);
    position: relative; /**/
}

ul {
    position: relative; /*This is the parent - it is important to include this !*/
    list-style-type: none;
    padding: 14px 16px;
}

li {
    position:relative;
    display:inline-block;/*allow the list items to stay side by side*/
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
}
    
    /* Change the link color on hover */
li>a.active {
    /* The language link should NOT be selected here ! I have replaced " "(space) with >
        WHAT does this mean ????
        Why isnt the language link (a) NO LONGER selected here ???
    */
    background-color: rgb(46, 189, 27);
    color: rgb(0, 0, 0);
    padding: 14px 16px;
}
      
li a {
        color: rgb(0, 0, 0);
        padding: 14px 16px;
        text-decoration: none;
}

li>a:hover {
    /* The language link should NOT be selected here ! I have replaced " "(space) with >
        The same questions as above !!        
    */
        background-color:rgb(255, 255, 255);
}
    
.language{
        position: absolute; /*position with respect to the parent !*/
        right:0; /* instead of float:right !!!*/
        top:0;/*to allign the tops */
        width:70px; /*give a fixed width to the container of the languages links*/
}

.language>* {
        position: absolute;
        right:0; /* https://stackoverflow.com/questions/11333624/float-right-and-position-absolute-doesnt-work-together */
        padding: 14px 16px;/**/
        border: 1px solid rgb(0, 0, 0);
        width: 100%;/*all the language links should have the same width as their parent container !*/
}

.LangHidden {
        transform: translateY(0);
        z-index: 1;
        transition: all 1s;
}

.LangShown {
        z-index: 2;
        background-color: rgb(46, 189, 27);
    }

.language:hover .LangHidden {
        transform: translateY(100%);
}

.products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px black;
     text-align: center;
     box-sizing: border-box; 
     padding: 25px;
}


.image{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 250px;
   

}

.qwe{
    display: flex;  
    align-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column; 
}
.ert{
    display: flex;
    align-content: flex-start;
}

.bg{
    background-color: rgba(46, 139, 86, 0.651);
    
}

.under{
    background-color: rgba(155, 155, 36, 0.767)

}



.OneProduct{
    display: flex;
    flex-direction: column;
   

}

.TwoProducts{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}