/* 
Changes Friday 4th of May: 
- removed double styling tags :
    li a:hover  was twice reffered
- removed other unnecessary code

Important highlights:
    display: block          on the nav allows for the full screen width of the navigation bar !
    display: inline-block   of the li allows for the displaying side by side of the elements
*/

ul {
    list-style-type: none;
    }
    

    
    /* Change the link color on hover */
    li a.active {
    background-color: #4CAF50;
    color: white;
    }
    


  nav {
        display:block; /*allow the navbar to etend horizontally*/
        background-color: #333;
    }
    
    li {
        display:inline-block;/*allow the list items to stay side by side*/
    }
    
    li a {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: rgb(236, 16, 16);
    }
    